.projectsCards {
    display: grid;
    gap: 16px;
    grid-column: span 12;
    margin-top: 60px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: start;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 300px;
    height: fit-content;
    background-color: var(--background-1);
    box-shadow: var(--box-shadow-low);
    transition: all 0.2s ease-in-out;
}

.card > * {
    padding: 24px 24px 0 24px;
}

.card > h3 {
    color: var(--foreground-1);
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
}

.card > .cardText {
    color: var(--foreground-3);
    font-size: 16px;
    line-height: 24px;
    flex-grow: 1;
}

.card > .cardText > div:first-child > p {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card > .cardText > div > h4 {
    color: var(--foreground-2);
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    user-select: none;
}

.card > .cardText > div {
    margin-bottom: 8px;
}

.card > .cardButtons {
    display: flex;
}

.card > .cardButtons > a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 16px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 6px;
    height: 38px;
    user-select: none;
    color: var(--foreground-1);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--background-2);
    transition: background-color 0.15s ease-in-out;
}

.card > .cardButtons > a:first-child {
    margin-right: 16px;
}

.card > .cardButtons > a:hover {
    background-color: var(--background-3);
}

@media screen and (min-width: 768px) {
    .projectsCards {
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }

    .card {
        width: 340px;
    }
}

@media screen and (min-width: 1024px) {
    .projectsCards {
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    }

    .card {
        width: 380px;
    }
}
