@font-face {
    font-family: 'gg sans';
    src: url('../public/fonts/ggsans/400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../public/fonts/ggsans/500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../public/fonts/ggsans/600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../public/fonts/ggsans/700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../public/fonts/ggsans/800.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ginto Nord';
    src: url('../public/fonts/ginto/GintoNord.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --background-1: hsl(220, 21%, 89%);
    --background-2: hsl(220, 22%, 92%);
    --background-3: hsl(220, 23%, 95%);
    --foreground-1: hsl(234, 16%, 35%);
    --foreground-2: hsl(233, 13%, 41%);
    --foreground-3: hsl(233, 10%, 47%);
    --accent-1: hsl(172, 39%, 65%);
    --accent-2: hsl(222, 74%, 74%);
    --accent-3: hsl(358, 66%, 76%);
    --box-shadow-high: 0 8px 16px hsla(0, 0%, 0%, 0.24);
    --box-shadow-medium: 0 8px 15px hsla(0, 0%, 0%, 0.2);
    --box-shadow-low: 0 1px 1px hsla(0, 0%, 0%, 0.1);
    --border-heavy: 4px solid var(--foreground-3);
    --border-medium: 2px solid var(--foreground-3);
    --border-light: inset 0 1px 0 hsla(220, 6.5%, 18%, 0.6);
    --grid-columns: 4;
    --padding: 56px 24px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-1: hsl(229, 20%, 17%);
        --background-2: hsl(231, 19%, 20%);
        --background-3: hsl(229, 19%, 23%);
        --foreground-1: hsl(227, 70%, 87%);
        --foreground-2: hsl(227, 44%, 80%);
        --foreground-3: hsl(228, 29%, 73%);
        --accent-1: hsl(172, 39%, 65%);
        --accent-2: hsl(222, 74%, 74%);
        --accent-3: hsl(358, 66%, 76%);
        --box-shadow-high: 0 8px 16px hsla(0, 0%, 0%, 0.24);
        --box-shadow-medium: 0 8px 15px hsla(0, 0%, 0%, 0.2);
        --box-shadow-low: 0 1px 1px hsla(0, 0%, 0%, 0.1);
        --border-heavy: 4px solid var(--foreground-3);
        --border-medium: 2px solid var(--foreground-3);
        --border-light: inset 0 1px 0 hsla(220, 6.5%, 18%, 0.6);
        --grid-columns: 4;
        --padding: 56px 24px;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --padding: 80px 40px;
        --grid-columns: 8;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --padding: 120px 40px;
        --grid-columns: 12;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
    box-sizing: border-box;
    text-size-adjust: 100%;
    text-rendering: geometricPrecision;
}

*:active,
*:focus {
    --webkit-tap-highlight-color: transparent;
}

html,
body {
    color-scheme: light dark;
    overflow-x: hidden;
    background-color: var(--background-1);
    color: var(--foreground-1);
    scroll-behavior: smooth;
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
