.heading {
    width: 100%;
    min-height: 626px;
    background-color: var(--accent-2);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.appButton {
    flex: 0 0 auto;
    width: 124px;
    text-align: end;
    display: flex;
    flex-flow: row-reverse;
}

.hero {
    width: 100%;
    max-width: 1260px;
    display: grid;
    padding: var(--padding);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    box-sizing: border-box;
    z-index: 1;
}

.hero > div {
    grid-column: span 4;
}

.heroText {
    color: hsl(229, 19%, 23%);
}

.heroText > h1 {
    font-family: 'Ginto Nord', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(24px, 5vw, 44px);
    font-weight: 800;
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    user-select: text;
    cursor: initial;
}

.heroText > div {
    margin-top: 24px;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.625;
    font-weight: 300;
}

.heroButtons {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}

.heroButtons > a,
.heroButtons > button {
    border: none;
    margin-top: 24px;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: hsl(220, 21%, 89%);
    color: hsl(229, 19%, 23%);
    text-decoration: none;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.heroButtons > button {
    margin-right: 24px;
    background-color: hsl(229, 19%, 23%);
    color: hsl(220, 21%, 89%);
}

.heroButtons > button > svg {
    margin-right: 8px;
}

.heroButtons > button:hover {
    color: var(--accent-2);
    box-shadow: var(--box-shadow-medium);
}

.heroButtons > a:hover {
    background-color: hsl(227, 70%, 87%);
    box-shadow: var(--box-shadow-medium);
}

.contentGrid {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-1);
}

.contentGrid:nth-child(2),
.contentGrid:nth-child(4),
.contentGrid:nth-child(6),
.contentGrid:nth-child(7) {
    background-color: var(--background-2);
}

.contentGrid > div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    padding: var(--padding);
    gap: 0 20px;
    max-width: 1260px;
}

.contentGrid > div > img {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 678px;
    max-height: 440px;
    width: 100%;
    object-fit: contain;
    grid-column: span 4;
    margin-top: 24px;
}

.contentGrid > div > .contentP {
    grid-column: span 4;
    margin-top: 20px;
    color: var(--foreground-1);
}

.contentGrid.myself > div > .contentP:last-child {
    margin: 0;
    padding-top: calc(56px + 20px);
}

.contentGrid.myself .socialsContainer {
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.socialsContainer > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--accent-2);
    color: var(--background-1);
    transition: all 0.2s ease-in-out;
}

.socialsContainer > a:hover {
    background-color: var(--accent-1);
}

.contentGrid.workTogether > div > .contentP > h2 {
    font-size: clamp(20px, 4vw, 40px);
    font-family: 'Ginto Nord', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
}

.contentGrid.workTogether > div > .contentP {
    margin-top: 0;
}

.contentGrid.workTogether > div > img {
    margin-top: 24px;
    max-width: none;
    max-height: none;
}

.contentGrid.firstStep > div {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.contentGrid.firstStep > div > .contentP {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.contentGrid.firstStep > div > h4 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: var(--foreground-1);
    user-select: text;
    cursor: initial;
}

.contentGrid.firstStep > div > button {
    border: none;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: var(--accent-2);
    color: hsl(229, 19%, 23%);
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.contentGrid.firstStep > div > button:hover {
    background-color: var(--accent-1);
    box-shadow: var(--box-shadow-medium);
}

.contentGrid.firstStep > div > a > svg {
    margin-right: 8px;
}

.contentGrid > div > .contentP > h2 {
    font-size: clamp(20px, 4vw, 40px);
    line-height: 120%;
    font-weight: 800;
    user-select: text;
    cursor: initial;
}

.contentGrid > div > .contentP > div {
    margin-top: 24px;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 400;
    line-height: 1.625;
}

@media screen and (min-width: 768px) {
    .heading {
        padding-bottom: 80px;
        min-height: 626px;
    }

    .hero > div {
        grid-column: span 5;
    }

    .heroText {
        margin-bottom: 8px;
    }

    .heroText > h1 {
        font-size: 56px;
    }

    .heroText > div {
        margin-top: 40px;
    }

    .heroButtons {
        justify-content: left;
    }

    .imageBackground {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .imageBackground > img:first-child {
        display: block;
        margin-left: -1320px;
    }

    .imageBackground > img:nth-child(2) {
        display: none;
    }

    .imageBackground > img:last-child {
        display: block;
        margin-left: -70px;
    }

    .contentGrid > div > img {
        grid-column: span 4;
        margin-top: auto;
    }

    .contentGrid > div > .contentP {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: span 4;
        margin-top: 0;
    }

    .contentGrid > div > .contentP > h2 {
        font-size: 48px;
    }

    .contentGrid:nth-child(2) > div > .contentP,
    .contentGrid:nth-child(5) > div > .contentP {
        order: 1;
    }

    .contentGrid:nth-child(2) > div > img,
    .contentGrid:nth-child(5) > div > div {
        order: 2;
    }

    .contentGrid.workTogether > div {
        padding-bottom: 80px;
    }

    .contentGrid.workTogether > div > .contentP,
    .contentGrid.projects > div > .contentP,
    .contentGrid.myself > div > .contentP {
        grid-column: span 8;
        text-align: center;
    }

    .contentGrid.workTogether > div > img,
    .contentGrid.projects > div > div {
        margin-top: 24px;
        grid-column: span 8;
    }

    .contentGrid.projects > div > div:last-child {
        margin-top: 40px;
    }

    .contentGrid.firstStep > div {
        margin-bottom: 80px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .contentGrid.firstStep > div > button {
        width: auto;
    }

    .contentGrid.myself .socialsContainer {
        justify-content: center;
        margin-top: 48px;
    }
}

@media screen and (min-width: 1024px) {
    .heading {
        padding-bottom: 0;
        min-height: 626px;
    }

    .hero > div {
        grid-column: 3 / span 8;
        text-align: center;
    }

    .heroButtons {
        justify-content: center;
    }

    .imageBackground > img:first-child {
        left: 50%;
        margin-left: -1280px;
    }

    .imageBackground > img:nth-child(2) {
        position: absolute;
        display: block;
        bottom: 0;
        left: 50%;
        height: auto;
        width: auto;
        max-width: none;
        margin-left: -1030px;
    }

    .imageBackground > img:last-child {
        margin-left: 370px;
    }

    .contentGrid > div > img {
        grid-column: span 7;
    }

    .contentGrid > div > .contentP {
        grid-column: 9 / span 4;
    }

    .contentGrid:nth-child(2) > div > .contentP,
    .contentGrid:nth-child(5) > div > .contentP {
        grid-column: 1 / span 4;
        order: 1;
    }

    .contentGrid:nth-child(2) > div > img,
    .contentGrid:nth-child(5) > div > div {
        grid-column: 6 / span 7;
        order: 2;
    }

    .contentGrid.workTogether > div > .contentP,
    .contentGrid.projects > div > .contentP,
    .contentGrid.myself > div > .contentP {
        grid-column: 2 / span 10;
        text-align: center;
    }

    .contentGrid.workTogether > div > img,
    .contentGrid.projects > div > div {
        margin-top: 16px;
        grid-column: span 12;
    }

    .contentGrid.projects > div > div:last-child {
        margin-top: 60px;
    }

    .contentGrid.firstStep > div {
        margin-bottom: 120px;
    }
}
