.header {
    width: 100%;
    max-width: 1260px;
    padding: 0 40px;
}

.header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.brand {
    display: flex;
    align-items: center;
    margin-right: 66px;
    text-decoration: none;
    font-weight: bold;
}

.brand > svg {
    stroke-width: 1.5px;
    color: hsl(229, 19%, 23%);
}

.navLinks {
    display: block;
    flex: 1 1 auto;
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    font-weight: 600;
}

.navLink {
    color: hsl(229, 19%, 23%);
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
}

.appButton {
    flex: 0 0 auto;
    width: 124px;
    text-align: end;
    display: flex;
    flex-flow: row-reverse;
}

.appButton > button {
    border: none;
    white-space: nowrap;
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    background-color: hsl(229, 19%, 23%);
    color: hsl(220, 21%, 89%);
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.appButton > button:hover {
    color: var(--accent-2);
    box-shadow: var(--box-shadow-medium);
}

.hero {
    width: 100%;
    max-width: 1260px;
    padding: 120px 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .navLinks {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        max-width: 1260px;
        padding: 0 24px;
    }

    .navLinks {
        display: none;
    }
}
