.wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.85);
}

.wrapper > div {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--background-3);
    color: var(--foreground-1);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    animation: popIn 0.25s ease-in-out;
    text-align: left;
    box-shadow: var(--box-shadow-high);
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 16px;
    user-select: none;
    text-align: center;
}

.header > h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 30px;
    cursor: default;
}

.header > p {
    color: var(--foreground-2);
    margin-top: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.header > button {
    position: absolute;
    display: flex;
    background-color: var(--background-3);
    border: none;
    top: 16px;
    right: 16px;
    padding: 4px;
    opacity: 0.5;
    cursor: pointer;
    color: var(--foreground-1);
    font-weight: 500;
    transition: opacity 0.2s ease-in-out;
}

.header > button:hover {
    opacity: 1;
}

.wrapper form {
    overflow: hidden;
}

.wrapper form > div:first-child {
    overflow: hidden scroll;
    padding-right: 8px;
    padding-bottom: 16px;
    position: relative;
    border-radius: 5px 5px 0 0;
    padding-left: 16px;
}

.wrapper form > div:first-child::-webkit-scrollbar {
    width: 8px;
}

.wrapper form > div:last-child {
    position: relative;
    padding: 16px;
    overflow-x: hidden;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    border-radius: 0 0 5px 5px;
    box-shadow: var(--border-light);
    background-color: var(--background-2);
}

.inputContainer > h2 {
    color: var(--foreground-2);
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    user-select: none;
}

.inputContainer > div {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    background-color: var(--background-1);
    border: none;
    box-sizing: border-box;
    max-height: 100%;
}

.inputContainer > div > input,
.inputContainer > div > div {
    padding: 10px;
    max-height: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    line-height: 20px;
    color: var(--foreground-3);
    width: 100%;
    overflow: hidden scroll;
}

.inputContainer > div > input::placeholder {
    color: var(--foreground-3);
    opacity: 0.7;
}

.inputContainer > div > div::-webkit-scrollbar {
    width: 2px;
}

.inputContainer:not(:first-child) {
    margin-top: 16px;
}

.email {
    margin-top: 12px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.email > span {
    user-select: none;
}

.email > a {
    color: var(--accent-2);
    display: inline-block;
    margin-left: 4px;
    cursor: pointer;
    text-decoration: none;
}

.email > a:hover {
    text-decoration: underline;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 38px;
    background: none;
    color: var(--foreground-1);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    padding: 2px 16px;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.button:first-child {
    color: hsl(229, 19%, 23%);
}

.button:first-child {
    background-color: var(--accent-2);
    margin-left: 8px;
}

.button:first-child:hover {
    background-color: var(--accent-1);
}

@media screen and (min-width: 545px) {
    .wrapper > div {
        width: 480px;
        height: fit-content;
        border-radius: 5px;
    }

    .inputContainer > div {
        max-height: 40vh;
    }
}

/* Tooltip */

.tooltipError,
.tooltipSuccess {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 12px 22px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    z-index: 1000;
    box-shadow: var(--box-shadow-medium);
}

.tooltipError {
    background-color: var(--accent-3);
}

.tooltipSuccess {
    background-color: var(--accent-1);
    color: black;
}

.tooltipIcon {
    display: flex;
}
